<div>
  <div class="header">
    <h1>Partitions</h1>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Create a Partition"
      (click)="createPartition()"
    >
      <mat-icon class="mdi-24px" fontIcon="mdi-plus-circle"> </mat-icon>
    </button>
  </div>
  <div class="content">
    <mat-accordion class="accordion" multi>
      <cas-partition [poolId]="poolId"></cas-partition>

      <div *ngFor="let partition of partitions$ | async; trackById">
        <cas-partition [partition]="partition"></cas-partition>
      </div>
    </mat-accordion>
  </div>
</div>
